
<div class="view_pane">
  <p class="auth"><span>Author:</span> <%= @article.author %> </p>
  
  <p><b>Title:</b> <%= @article.title %></p>
  <p><b>Evidence Level:</b> <%= @article.evidence_level %></p>
  <p><b>Study Design:</b> <%= @article.study_design %></p>
  <p><b>Sub-Section:</b> <%= @article.sub_section %></p>
  
  <div class="left">
    <p>Notes:</p>
    <% @article.notes.each do |note| %>
      <p class="note"><a href="/note/delete/<%= note.id %>">-delete- </a><%= note.text %></p>
    <% end %>
  </div>
  
  <div class="right">
    <form action="/note/add/<%= @article.id %>" method="post">
      <p>
        <label for="text">Add a Note:</label>
      </p><br>
        <textarea name="text" id="text" cols="40" rows="10"></textarea>
        <p>
          <input class="submit" type="submit">  
        </p>
    </form>
  </div>
</div>